input{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 105%;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px ;
    height: 80%;
    
}

.btn{
  
   height: 78%;
}

.container-fluid{
    background-color: cyan;
}