
<div class="container-fluid">

  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  loadingText="Loading..."
  type="ball-beat">
    </ngx-spinner>

  <div class="row">
    <br> </div>

  <div class="row">

    <div class='col-4 '>
      <button class='btn btn-info' (click)=goBackToPreviousLocation()>Go Back</button>
    </div>

    <div class='col-8 searchbox '>
      <input type="text" placeholder="Search Country Here" [(ngModel)]="term">
    </div>

  </div>

  <div class="row">
    <br> </div>


  <div class="row">

    <div class="col-md-3" style="padding-bottom:10px" *ngFor="let country of countries |filter:term ">

      <div class="card border border border-dark">
        <img class="card-img-top" [src]="country.flag" alt="Card image cap">
        <div class="card-body ">

          <h5 class="card-title" style="font-size:26px">{{country.name}}</h5>
          <ul class="list-group ">
            <li class="list-group-item">Capital: {{country.capital}}</li>

            <li class="list-group-item">Population : {{country.population}}</li>

            <li class="list-group-item">Sub-Region: {{country.subregion}}</li>

            <li class="list-group-item" *ngIf='country.currencies.length>0 && country.currencies.length != undefined'>
              Currency :
              <span *ngFor='let currency of country.currencies'>
                <a [routerLink]="['/all-countries-view',country.name]" data-toggle="tooltip" title="Click to see filtered country by Currency"
                  [queryParams]="{ 'currency_code' : currency.code , 'currency_name': currency.name}">{{currency.name}}</a>

              </span>
            </li>

            <li class="list-group-item" *ngIf='country.languages.length>0 && country.languages.length != undefined'>
              Languages :
              <span *ngFor='let lang of country.languages; let last = last'>
                <a [routerLink]="['/all-countries-view', lang.name]" data-toggle="tooltip" title="Click to see filtered country by Languages"
                  [queryParams]="{ 'language_code' : lang.iso639_1 , 'language_name': lang.name}">{{lang.name}}{{last ? ' ' : ', '}}</a>
              </span>
            </li>


          </ul>
          <div class="card-body">
            <a [routerLink]="['/singlecountry-view', country.name]" class="card-link">EXPLORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>