.heading{
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}


.lowheading{
    font-family: 'Ubuntu', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Knewave';

}